.addBtn {
  padding: 24px 0 16px;
  display: flex;
  justify-content: center;

  img {
    height: 16px;
    width: auto;
  }

  span {
    margin-left: 10px;
  }

  button:last-child {
    margin-left: 10px;
  }
}
